@font-face {
      font-family: 'Atkinson';
      src: url('./AtkinsonHyperlegible.ttf') format('ttf');
      font-weight: normal;
      font-style: normal;
    }

.easysee{
    font-size: 18px;
    font-family:"Atkinson"
}