@font-face {
      font-family: 'Atkinson';
      src: url('./AtkinsonHyperlegible.ttf') format('ttf');
      font-weight: normal;
      font-style: normal;
    }

p{
    font-size: 18px;
    font-family:"Atkinson"
}

button{
    font-size: 18px;
    font-family:"Atkinson"
}

input{
    font-size: 18px;
    font-family:"Atkinson"
}

select{
    font-size: 18px;
    font-family:"Atkinson"
}